@model LoginViewModel
@{
    ViewBag.Title = "Home";
}


<h1>bye @ViewBag.Title</h1>
<form method="post">
    <input name="username" type="text" />
    <input name="password" type="text" />
    <input type="submit" />
</form>
