@model IEnumerable<Product>

<h1>Shop</h1>

@foreach (var p in Model)

{
    <li>@p.Title</li>
    <img src="img/VanGogh.jpg" />
    <h3>Mug</h3>
    <ul class="product-props">
        <li>Price: @p.Price</li>
        <li>Artist: </li>
        <li>Title: @p.Title</li>
        <li>Description: Self Portrait</li>
    </ul>
    <button id="buyButton" class="btn btn-success">Buy</button>
}
