<div class="row">
    <div class="product-info col-md-4 well well" *ngFor="let p of products">
        <img src="/img/{{p.isbn}}.jpg" class="img-responsive" alt="{{p.title}}" width="329" height="500"/>
        <div><strong>Categoty:</strong> {{p.category}}</div>
        <div><strong>Price:</strong> {{ p.price | currency:"USD":true }}</div>
        <div><strong>Artist:</strong> {{p.author}}</div>
        <div><strong>Title:</strong> {{ p.title }}</div>
        <div><strong>Description:</strong> {{p.description}}</div>
        <button id="buyButton" class="btn btn-success btn-sm pull-right" (click)="addProduct(p)">Buy</button>
    </div>
</div>