<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <a asp-controller="App" asp-action="Index">Home</a>
    <a asp-controller="App" asp-action="Contact">Contacts</a>
    <p>Below it's template</p>
    @RenderBody()
</body>
</html>